@import "tailwindcss";

main {
  padding-top: 80px;
}

/* Estilo da barra de rolagem para todos os elementos */
::-webkit-scrollbar {
  width: 10px;
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background: #111827;
}

/* A "alça" da barra de rolagem */
::-webkit-scrollbar-thumb {
  background: #ff9900;
  border-radius: 5px;
  transition: all 0.3s ease;
}

/* Hover na barra de rolagem */
::-webkit-scrollbar-thumb:hover {
  background: #ff9900;
}

/* Canto da barra de rolagem */
::-webkit-scrollbar-corner {
  background: #1a1a1a;
}

/* Estilos para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ff9900 #1a1a1a;
}
